.footer {
  text-align: center;
  border-top: 1px solid black;
}

.link {
  color: black;
  font-size: large;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.linkButton {
  color: black;
  }

.linkButton:hover {
  text-decoration: none;
  color: gray;
}

.home {
  text-align: center;  
  background-color: lightgray;
  border: 1px solid grey;
  font-size: medium;
  height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .home:hover {
    background-color: white;
    color: gray;
  }


