.footer {
  text-align: center;
  border-top: 1px solid black;
  background-color: #253439;
  color: white;
}

.link {
  color: black;
  font-size: large;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.linkButton {
  color: white;
  }

.linkButton:hover {
  text-decoration: none;
}

.home {
  text-align: center;  
  background-color: white;
  color: black;
  font-size: 1rem;
  height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .home:hover {
    background-color: darkgray;
  }


