.posts {
  border: 1px solid red;
  width: 50%;
}

.postItems {
  border: 1px solid red;
  width: 100%;
}

.title {
  text-align: center;
}

.image {
  text-align: center;
}

.postItems img {
  width: 60%;
}

.post-link {
  background-color: lightgray;
  border: 1px solid grey;
  color: black;
  margin-right: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-link:hover {
  background-color: white;
  color: gray;
}

.postAuthor {
  font-style: italic;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.postsFooter {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postsFooter button {
  margin-bottom: 0.2rem;
}






