.postItems {
  border: 1px solid red;
  width: 100%;
  justify-content: center;
}

.postItems img {
  width: 70%
}

.posts {
  border: 1px solid red;
  width: 50%;
}

.title {
  text-align: center;
}

.comments {
  border: 1px solid red;
  margin-top: 0.8rem; 
}

.commentAuthor {
  margin-top: 1rem;
}

.commentsTitle {
  font-weight: bold;
  text-align: center;
}

