.comments {
  background-color: white;
  width: 50%;
  height: 70rem;
}

.comments-main-divider {
  width: 100%;
  height: 1.5rem;
  background-color: lightgray;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.comments-data {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.comments-data-divider {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.comments-divider {
  width: 100%;
  height: 0.75rem;
  background-color: lightgray;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.comments-title {
  font-weight: bolder;
  font-size: 1.05rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.comment-link {
  background-color: lightgray;
  border: 1px solid grey;
  color: black;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-link:hover {
  background-color: white;
  color: gray;
}

.home-button {
  background-color: lightgray;
  border: 1px solid grey;
  color: black;
  height: 1.5rem;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1rem;;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: white;
  color: gray;
}

.comments-length {
  font-style: italic;
  margin-right: 1.5rem;
}

.comment-number {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  margin-right: 1.5rem;
}

.comment-body {
  margin-top: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
  font-size: large;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  overflow-wrap: break-word;
}

.comment-info {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-items {
  overflow-y: scroll;
  height: 60rem;
}

.comments-items::-webkit-scrollbar {
  display: none;
}

.comment-author {
  color: black;
  font-size: small;
  font-style: italic;
  margin-left: 1.5rem;
}

.top-button-comment {
  background-color: lightgray;
  border: 1px solid grey;
  color: black;
  font-size: 1rem;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-button-comment:hover {
  background-color: white;
  color: gray;
}


@media (max-width: 750px) {
  .comments {
    width: 100%;
    margin-top: 2rem;
    padding-top: 0.5rem;
  }
  .comment-body {
    font-weight: normal
  }
}

@media (max-width: 500px) {
  .comment-info {
    flex-direction: column;
    justify-content: center;
  }
  .comment-info button {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5rem;
  }
  .comment-author {
    margin-left: 0;
  }
  .comments-data-divider {
    width: 85%;
  }
}
 
