.comments {
  border: 1px solid red;
  width: 50%;
}

.commentsHeader {

  background-color: aqua;  

}

.commentsComment {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.commentsTitle {
  font-weight: bolder;
  font-size: 1.05rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.comment-link {
  background-color: lightgray;
  border: 1px solid grey;
  color: black;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-link:hover {
  background-color: white;
  color: gray;
}

.homeButton {
  background-color: lightgray;
  border: 1px solid grey;
  color: black;
  height: 1.5rem;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homeButton:hover {
  background-color: white;
  color: gray;
}

.commentsLength {
  color: black;
  font-style: italic;
  margin-right: 1.5rem;
}

.commentDiv {
  border: 1px solid red;
  margin-bottom: 0.3rem;
}

.commentBody {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.commentInfo {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.commentsItems {
  overflow-y: auto;
  height: 50rem;
}

.commentAuthor {
  color: black;
  font-style: italic;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.commentNumber {
  color: black;
  font-style: italic;
  margin-right: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
 
